/Fridge/nbproject/private/
/Server/nbproject/private/
/Server/build/
/Fridge/build/
/FridgeGUI/nbproject/private/
/FridgeGUI/build/
/FridgeGUI/dist/
/Client/nbproject/private/
/Client/build/
/Server/dist/
/Fridge/dist/
/Client/dist/
/Server/index.html
/Store/nbproject/private/
/Store/build/
/Store/dist/
/Producer/nbproject/private/
/Producer/build/
/Constants/nbproject/private/
/Constants/dist/
/Constants/build/
*.lck
/OrganizeOffers/nbproject/private/
/OrganizeOffers/build/